@import "./variables.scss";

.reporte {
    height: 150px;
    width: 43px;
    position: fixed;
    top: 30%;
    z-index: 200;
    background-image: url("/static/imgs/feedbackButton.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.modalMapa {
    position: absolute;
    z-index: 100;
    width: 510px;
    height: 720px;
    background-image: url("/static/imgs/mapa_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
    .close_map {
        position: absolute;
        width: 22px;
        height: 30px;
        right: 0;
        cursor: pointer;
    }
    .content_map {
        width: 459px;
        height: 644px;
        position: relative;
        top: 30px;
        left: 25.5px;
        font-size: 0;
        .img_map {
            position: absolute;
        }
        .tile_map {
            display: inline-block;
            width: 28.6875px;
            height: 28.6875px;
        }
        .mark {
            width: 8px;
            height: 8px;
            position: absolute;
            background-color: #f00;
            border-radius: 50px;
        }
    }
}


.modalReconnect {
    width: 148px;
    height: 89px;
    position: absolute;
    background-image: url("/static/imgs/reconectando.gif");
    background-repeat: no-repeat;
    z-index: 100;
    display: none;
}




.cruz {
    background-image: url("/static/imgs/cruz.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    &:hover {
        cursor: pointer;
    }
}



